target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr
.tmp*
.vscode
web-bundles
.tools/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/

.DS_Store

*.log

*.err
*.jfr
*.jps
dump*.jps
**/primary-run.err
**/replica-run.err
grid-sql-jmeter/target/jmeter-run/

benchmarks/jepsen/clojure/store/
benchmarks/jepsen/clojure/target/
benchmarks/jepsen/docker-staging/app.jar
benchmarks/jepsen/app.jar
benchmarks/jepsen/*.log
benchmarks/jepsen/docker-ctx/
benchmarks/jepsen/multidc/**/store/
benchmarks/jepsen/**/store/
benchmarks/results/

docs/spec/orchid/tlc-out/
docs/spec/orchid/states/

grid-server-core/benchmarks/results/*.json
grid-server-core/benchmarks/results/*.txt
grid-server-core/benchmarks/results/legacy-oss/*.json
grid-server-core/log/

grid-sql-server-starter/data-*
grid-sql-server-starter/log/

examples/docker/staging/
